<section class="contact-us text-center py-5">
    <div class="fields">
      <div class="container">
        
        <div class="row">
          
          <i class="fa fa-headphones fa-5x"></i>
          <h2>Contact Us</h2> 
          <p class="lead">Feel free to contact us</p>
  
          
          <form>
            
            <div class="col-md-6">
              <div class="form-group m-2">
                <input type="text" class="form-control input-lg" placeholder="User Name"/>
              </div>
  
              <div class="form-group m-2">
                <input type="text" class="form-control input-lg" placeholder="Email"/>
              </div>
  
              <div class="form-group m-2">
                <input type="text" class="form-control input-lg" placeholder="Phone Number"/>
              </div>
            </div>
            
            <div class="col-md-6 m-2" >
              <div class="form-group">
                <textarea class="form-control" placeholder="Your Message"></textarea>
              </div>
              <button type="button" class="btn btn-danger btn-lg btn-block m-4 w-50">Contact Us</button>
            </div>
  
          </form>
          
        </div>
      </div>
    </div>
  </section>
