<section class="py-5">
    <section class="text-center about py-5">
        <h1>About US</h1>
        <div class="container">
          <div class="row">
            <div class="col-md about-item wow lightSpeedIn" data-wow-offset="200" >
              <span class="fa fa-group"></span>
              <h2 class="mt-4">History</h2>
              <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est libero exercitationem vitae fugiat facere corporis natus aperiam excepturi repudiandae alias explicabo et provident a soluta qui vero, nemo odio? Maxime.</p>
            </div>
            <div class="col-md about-item wow lightSpeedIn" data-wow-offset="200">
              <span class="fa fa-info"></span>
              <h2 class="mt-4">Services</h2>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque eos delectus exercitationem! Id autem doloribus velit natus accusantium, totam quae corrupti tempore error eius! Ut veritatis quos soluta laboriosam. </p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-md about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-info"></span>
                <h2 class="mt-4">Authentication</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, unde repellat saepe ex consectetur beatae ipsam quidem natus excepturi, possimus fuga aut harum placeat quis accusamus dignissimos nam. Provident, similique! </p>
              </div>
            <div class="col-md about-item wow lightSpeedIn" data-wow-offset="200" >
                <span class="fa fa-group"></span>
                <h2 class="mt-4">Offers</h2>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
              </div>    
          </div>
          
        </div>
      </section>
</section>

